.dotfiles
.config/QtProject.conf
.config/nvim/lazy-lock.json
.config/nvim/spell/**
.config/hypr/hyprpaper.conf
**/colors.**
.config/rice/settings/**
# ignore device (hostname) specific files
.config/hypr/lua/**/**.lua
.config/hypr/lua/**/!default.lua
.config/hypr/lua/**/!laptop.lua
!.config/matugen/templates/*
