/* ==================== */
/*      Common CSS      */
/* ==================== */
/* Standard colour set  */
/* Light Text:          #fff8e5
 * Dark Text:           #00071a
 * Left Background:     #503c87
 * Right Background:    #e75c22
 * Workspace Icons (L->R):
 * #f821b2, #ff5761, #e99727, #acc642, #64e699  
 * Border:              # 202735
 * Player Background:   # dfd92a
 *
 */


/* custom colorset */
@define-color sunset-base0    #e75c22; /* core colour - ORANGE */
@define-color sunset-base1    #eb865b; /* lighter */
@define-color sunset-base2    #efaf95; /* lighter */
@define-color sunset-base3    #F3D9CE; /* lightest base */
@define-color sunset-base00   #503c87; /* core colour - PURPLE */
@define-color sunset-base01   #423270; /* darker */
@define-color sunset-base02   #271D41; /* darker */
@define-color sunset-base03   #19132a; /* darkest base */
@define-color sunset-yellow   #fde74c;
@define-color sunset-orange   #e75c22; /* core colour */
@define-color sunset-red      #dc322f;
@define-color sunset-magenta  #f51aa4;
@define-color sunset-violet   #503c87;
@define-color sunset-blue     #5bc0eb;
@define-color sunset-cyan     #36f9f6;
@define-color sunset-green    #3B8748; /* Sea Green */
@define-color sunset-lightgreen #8fe092;
/* end colorset */

/* custom component colours */
@define-color darkText                @sunset-base03;
@define-color lightText                 @sunset-base3;

@define-color workspace                 @sunset-base03;
@define-color workspace_active          @sunset-lightgreen;
@define-color workspace_visible         @sunset-blue;
@define-color workspace_urgent          @sunset-magenta;
@define-color workspace_background      rgba(0,0,0,0); /* set background as transparent */ 
@define-color workspace_button          @sunset-base03;
/* =================== */
/* inbuilt display css */
/* =================== */
*   {
    /*  `otf-font-awesome` must be installed for icons */
    font-family: Noto Sans CJK, FontAwesome, Symbols Nerd Font, MesloLGM Nerd Font Propo;
    min-height: 0;
    border-radius:0;
    text-shadow: none;
    transition: none;
    box-shadow: none;
}
/* for whole status bar */
window#waybar {
    color: @lightText;
    /*border: 2px dashed @sunset-base03;
    border-image:  linear-gradient(45deg, @sunset-violet, @sunset-orange ) 4;  
    background: @sunset-base02 ; */ 
    /* approach 2 */
    background: linear-gradient(@sunset-base03,@sunset-base03) padding-box,
                linear-gradient(to right, @sunset-violet, @sunset-orange) border-box;
    border-radius: 50em;
    border: 2px solid transparent;
    font-size: 14px;
    
}
window#waybar.hidden {
    opacity: 1;
}

#workspaces button,
#workspaces button:hover,
#workspaces button.visible,
#workspaces button.visible:hover,
#workspaces button.active,
#workspaces button.active:hover,
#workspaces button.urgent,
#window,
#tray,
#cpu,
#clock,
#temperature,
#temperature-critical,
#backlight,
#pulseaudio,
#pulseaudio-muted,
#wireplumber,
#wireplumber-muted,
#battery,
#battery-critical,
#timer,
#custom-fuzzel,
#custom-padding,
#custom-notification,
#custom-timer,
#custom-power,
#custom-nordvpn,
#custom-player,
#custom-tasks,
#mpris,



#clock {
    font-family: MesloLGM Nerd Font Mono;
    font-weight: 400;
    /*color: #00071a;*/
}

#wireplumber-muted {
  color: #57b5e3;
}

#mpris.firefox {
  color: @sunset-cyan;
}
/* ================================ */
/*            WORKSPACES            */
/* ================================ */

#workspaces {
    /*font-size: ;*/ 
    margin: 0px;
    color: @workspace;
}

window#waybar #workspaces button, button.persistent {
    /*color:#000000; */
    color: @lightText;
    background: transparent;
    min-width: 25px;
    padding: 0 0.6em 0 0; /* added to balance offset of font in boxes */
    margin: 5px 3px;
}
window#waybar * #workspaces button.visible {
    border: 1px dashed @workspace_visible;
    border-radius: 6px;
    color: @workspace_visible;
} 
window#waybar #workspaces button.active {
    border: 1px solid @workspace_active;
    border-radius: 8px;
    color: @darkText;
    background-color: @workspace_active;
}
/* bar specific overrides */

/* ================================ */
/*          CUSTOM MODULES          */
/* ================================ */


#custom-fuzzel {
    padding: 0 6px;
    margin: 5px 0px;
    font-size: 20px;
}
#custom-notification {
    color: @sunset-base3;
    background: rgba(0,7,26,0);
    font-size: 14px;
    padding: 2px 2px;
}
#custom-notification button.visible {
    border: 2px solid #00071a;
    border-radius: 12px;
}
#custom-player {
    color: @sunset-base2;
    background: rgba(0,0,0,0);
    padding-left: 9px;
    padding-right: 9px;
}
#custom-timer {
    color: @sunset-base2;
    background: rgba(0,7,26,0);
}
#custom-nordvpn.connected {
    color: @sunset-green;
}
#custom-nordvpn.disconnected {
    color: @sunset-red;
}
#custom-power {
}


